@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


head {
    font-family: Roboto;
}

body {
    margin: 0;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

button {
    flex-grow: 0;
    outline-color: #f9faf8;
    background: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    
}

.header {
    height: 72px;
    background: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 0px 48px; */
    gap: 24px;
}

.header-box {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    align-self: center;
}

.logo {
    font-size: 24px;
    /* margin-left: 48px; */
}

.right-links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 20px;
    /* margin-right: 48px; */
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1f2937;
    padding: 48px 0px;
}

.top-box {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    align-self: center;
    gap: 24px;
}

.awesome {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.top-left {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 1;
}

.top-right {
    display: flex;
    height: max-content;
    flex: 1;
    outline: 2px solid red;
}

.wall {
    max-width: 100%;
    height: auto;
    flex-grow: inherit;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.title {
    display: flex;
}

.images {
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    width: 75%;
    gap: 48px;
    align-self: center;
    justify-content: space-between;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
}

.image {
    border-radius: 5px;
    border-color: #3882f6;
    border-width: 2px;
    border-style: solid;
}

.footer {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2937;
    color: #f9faf8;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;
}

.bottom {
    display: flex;
    flex-direction: column;
    background: #e5e7eb;
    justify-content: space-around;
    align-items: center;
    padding: 48px;
    flex-wrap: wrap;
    
    gap: 2px;
}

.quote {
    font-size: 36px;
    font-family: 'light italic';
    color: #1f2937;
    font-style: italic;
    align-self: center;
    
    text-align: left;
    width: 75%;
    margin: 0;
}

.quoter {
    display: flexbox;
    justify-self: center;
    align-self: center;
    font-size: 24px;
    font-weight: bold;
    align-items: flex-end;
    text-align: end;
    padding: 0;
    margin: 0;
    width: 75%;
    
}

.bottomer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #3882f6;
    margin: 48px;
    gap: 24px;
    border-radius: 5px;
    width: 75%;
    align-self: center;
}

.action {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    justify-content: center;
    padding: 0px;
    margin: 34px;
    
    gap: 2px;
}

.white {
    border-color: #f9faf8;
    border-style: solid;
    height: 36px;
    width: 100px;
    align-self: center;
}

.blue {
    border-style: none;
    align-self: flex-start;
    height: 36px;
    width: 100px;
}

.time {
    padding: 0;
    margin: 0;
}